<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker();
        });
        </script>
</head>
    <html>
    <body>
        <div class="class1">
        {% if users %}
          <table border="1">
            <caption>Users</caption>
            <tr>
             <th>Full name</th>
             <th>Email</th>
             <th>Company</th>
             <th>Action</th>
            </tr>
            {% for user in users %}
                <tr>    
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.company }}</td>
                    <td><a href="{% url 'change_user' user_id=user.id %}">Change</a></td>
                    <td><a href="{% url 'delete_user' user_id=user.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'add_user'%}">Add</a>
        <a href="{% url 'delete_all_user'%}">Delete all</a>
        {% else %}
        <p>No enough data for users table</p>
        {% endif %}
        </div>
        <div class="class2">
          {% if companies %}
          <table border="1">
            <caption>Companies</caption>
            <tr>
             <th>Company name</th>
             <th>Traffic limit for a month(in TB)</th>
            </tr>
            {% for company in companies %}
                <tr>    
                    <td>{{ company.name }}</td>
                    <td>{{ company.size_limit }}</td>
                    <td><a href="{% url 'change_company' company_id=company.id %}">Change</a></td>
                    <td><a href="{% url 'delete_company' company_id=company.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'add_company'%}">Add</a>
        {% else %}
        <p>No enough data for companies table</p>
        {% endif %}
        </div>
        <div class="class3">
          {% if no_violations or reports %}
            {% if reports %}
                <table border="1">
                  <caption>Reports</caption>
                  <tr>
                   <th>Company</th>
                   <th>Was used (in TB)</th>
                   <th>Date start</th>
                   <th>Date end</th>
                   <th>Exceeding limit</th>
                  </tr>
                  {% for report in reports %}
                      <tr>    
                          <td>{{ report.company }}</td>
                          <td>{{ report.traffic_used }}</td>
                          <td>{{ report.exceeding_limit }}</td>
                      </tr>
                  {% endfor %}
                </table>
            {% else %}
                <p>{{ no_violations }}</p>
            {% endif %}
        {% else %}
            <p>No enough data for reports table</p>
        {% endif %}
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <button name="generate_data" type='submit'>Generate data</button>
        </form>
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            {{ month_form }}
            <button name="show_for_period" type='submit'>Show for period</button>
        </form>
        </div>
        </body>
</html>